<style>
  .bg-custom {
    background: #070b1a33;
    background: linear-gradient(
      120.33deg,
      rgba(219, 234, 254, 0) 5.11%,
      rgba(219, 234, 254, 0.2) 47.82%,
      rgba(219, 234, 254, 0) 94.89%
    );
    backdrop-filter: blur(150px);

    box-shadow: 0px 0px 0px 1px #00000033 inset;

    box-shadow: 0px 12px 32px -4px #00000080;
  }
  .text-gradient {
    /* apply gradient here and clip text */
  }

  .card-gradient {
    background: linear-gradient(360deg, #2563eb 0%, #22d3ee 100%);
    border-width: 2px solid transparent;
    border-radius: calc(infinity * 1px);
    backdrop-filter: blur(40px);
    box-shadow: 0px 3px 6px 0px #001f292e;

    box-shadow: 0px 12px 12px 0px #001f2926;

    box-shadow: 0px 26px 16px 0px #001f2917;

    box-shadow: 0px 46px 18px 0px #001f2908;

    box-shadow: 0px 72px 20px 0px #001f2900;

    box-shadow: 0px 1px 7px 0px #ffffff66 inset;
  }
  .blockchain-gradient {
    background: linear-gradient(360deg, #7c3aed 0%, #c026d3 100%);
    border-width: 2px solid transparent;
    border-radius: calc(infinity * 1px);
    backdrop-filter: blur(40px);
    box-shadow: 0px 3px 6px 0px #001f292e;

    box-shadow: 0px 12px 12px 0px #001f2926;

    box-shadow: 0px 26px 16px 0px #001f2917;

    box-shadow: 0px 46px 18px 0px #001f2908;

    box-shadow: 0px 72px 20px 0px #001f2900;

    box-shadow: 0px 1px 7px 0px #ffffff66 inset;
  }
</style>

<main class="p-12">
  <!-- -->
  <!-- Outer card -->
  <!-- -->
  <div
    class="flex flex-col gap-6 bg-custom w-[1000px] pb-6 rounded-3xl border-1 border-white/20"
  >
    <!-- Top -->
    <div>
      <div class="flex justify-between items-center p-6">
        <h2 class="text-3xl font-semibold">Checkout</h2>
        <div>
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.53329 25.3333L6.66663 23.4667L14.1333 16L6.66663 8.53332L8.53329 6.66666L16 14.1333L23.4666 6.66666L25.3333 8.53332L17.8666 16L25.3333 23.4667L23.4666 25.3333L16 17.8667L8.53329 25.3333Z"
              fill="url(#paint0_linear_5_788)"
              fill-opacity="0.75"></path>
            <defs>
              <linearGradient
                id="paint0_linear_5_788"
                x1="16"
                y1="6.66666"
                x2="16"
                y2="25.3333"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
      <!-- Tabs -->
      <div class="flex gap-3 px-6 items-center justify-between">
        <button class="w-1/3 text-center border-b-4 border-white/75"></button>
        <button class="w-1/3 text-center border-b-4 border-white/20"></button>
        <button class="w-1/3 text-center border-b-4 border-white/20"></button>
      </div>
    </div>
    <!-- -->
    <!--Bottom Container -->
    <!-- -->
    <div class="px-6 flex gap-8">
      <!--Left -->

      <div class="flex flex-col gap-4 w-1/2">
        <div class="overflow-hidden rounded-3xl border-1 border-white/20">
          <div class="h-[196px] overflow-hidden">
            <img src="./image.png" alt="Skin Change Image" />
          </div>
          <div class="flex flex-col gap-4 px-4 py-6">
            <div class="flex flex-col gap-[6px]">
              <svg
                width="86"
                height="12"
                viewBox="0 0 86 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M32.549 0.069145C33.8399 -0.128221 35.195 0.0990756 36.3428 0.723529C37.4556 1.32291 38.3701 2.27981 38.9139 3.4179C39.5171 4.666 39.6577 6.12521 39.3171 7.46795C38.9936 8.76782 38.2108 9.94716 37.1427 10.7617C35.3161 12.1934 32.6393 12.4045 30.6054 11.2858C29.4348 10.6606 28.4854 9.63898 27.9497 8.4289C27.275 6.926 27.2661 5.14404 27.9237 3.63306C28.7162 1.7597 30.5257 0.359532 32.549 0.069145ZM32.875 2.09134C31.5792 2.28628 30.4396 3.20193 29.9315 4.39826C29.4064 5.58893 29.5096 7.03277 30.2095 8.13204C30.7834 9.0582 31.7621 9.7328 32.8449 9.9059C33.9456 10.0984 35.1178 9.7595 35.9567 9.02827C36.9134 8.21373 37.4312 6.92924 37.3231 5.68195C37.2418 4.56893 36.6679 3.50121 35.7729 2.8258C34.9617 2.20135 33.8887 1.92552 32.875 2.09134Z"
                  fill="white"></path>
                <path
                  d="M0.642242 0.345069C1.14461 0.209178 1.67542 0.319181 2.18917 0.280355C2.37207 0.30543 2.65008 0.211601 2.75332 0.417055C2.78908 0.684794 2.76632 0.955768 2.76957 1.22593C2.76957 3.58058 2.76876 5.93603 2.76957 8.29067C4.84407 5.71116 6.91612 3.13003 8.98817 0.548903C9.09629 0.414629 9.24342 0.295726 9.4247 0.29249C10.0197 0.266606 10.6156 0.295724 11.2114 0.281165C11.4342 0.285209 11.6813 0.24315 11.8715 0.390366C11.1781 1.29954 10.4432 2.17717 9.73278 3.07341C7.60301 5.72653 5.47243 8.37884 3.34185 11.0311C3.18333 11.2237 3.04433 11.4356 2.85493 11.6022C2.66877 11.7551 2.40946 11.7074 2.18673 11.7195C1.67217 11.7017 1.15436 11.747 0.642242 11.6839V0.345069Z"
                  fill="white"></path>
                <path
                  d="M15.0467 0.756069C15.2678 0.457594 15.6303 0.276409 16.0034 0.284497C16.4635 0.285306 16.9244 0.276408 17.3845 0.288541C17.5431 0.271554 17.6317 0.434945 17.6113 0.574072C17.6113 4.18975 17.6113 7.80625 17.6113 11.4219C17.6325 11.5611 17.5471 11.7309 17.3845 11.7131C16.8147 11.7196 16.2449 11.7196 15.675 11.7123C15.4661 11.718 15.3011 11.5716 15.184 11.4155C14.1988 10.1843 13.2087 8.95728 12.2235 7.72617C11.2204 8.96942 10.223 10.2167 9.22232 11.4624C9.11502 11.5991 8.95976 11.7139 8.77767 11.7115C8.12492 11.7261 7.47135 11.7083 6.81779 11.7188C6.65765 11.7083 6.45687 11.7592 6.3577 11.5934C9.23695 7.96803 12.1552 4.37175 15.0467 0.756069ZM13.4233 6.00083C14.0997 6.83802 14.7662 7.68249 15.4474 8.51483C15.4523 6.83641 15.4507 5.15879 15.449 3.48037C14.7719 4.31917 14.0972 5.1596 13.4233 6.00083Z"
                  fill="white"></path>
                <path
                  d="M20.1923 0.571467C20.1769 0.443665 20.2468 0.286739 20.3956 0.289974C20.9687 0.276224 21.5442 0.281888 22.1181 0.28755C22.2823 0.269755 22.3847 0.431531 22.3587 0.581173C22.3619 3.61123 22.3603 6.64129 22.3595 9.67215C23.9528 9.67781 25.546 9.6681 27.1385 9.67619C27.2751 9.64707 27.3604 9.81936 27.2523 9.91076C26.8377 10.4422 26.4093 10.9639 25.9874 11.4913C25.8598 11.6628 25.6436 11.7324 25.4355 11.717C23.7561 11.7113 22.0758 11.7235 20.3964 11.7113C20.2419 11.7178 20.1777 11.5512 20.1923 11.4226C20.1923 7.80607 20.1915 4.18877 20.1923 0.571467Z"
                  fill="white"></path>
                <path
                  d="M41.4225 0.575505C41.3851 0.408876 41.52 0.257614 41.6899 0.285116C44.5936 0.28188 47.4964 0.283502 50.3992 0.284311C50.5334 0.265707 50.6919 0.349021 50.6789 0.50109C50.6878 1.28408 50.6805 2.06788 50.6821 2.85088C50.6992 3.03773 50.6 3.20193 50.4846 3.33944C49.6465 4.37076 48.8222 5.41259 47.9817 6.44229C47.9402 6.51509 47.8021 6.61135 47.9069 6.69547C49.1766 8.28411 50.4569 9.86546 51.7251 11.4549C51.8169 11.5309 51.8185 11.7121 51.6682 11.7081C50.9154 11.7243 50.1619 11.7162 49.4091 11.7121C49.1141 11.7162 48.9474 11.4436 48.784 11.243C47.6183 9.78781 46.4518 8.33345 45.2821 6.88232C45.1951 6.77555 45.0618 6.62105 45.1829 6.48921C46.2844 5.09794 47.4062 3.72123 48.5133 2.33319C46.8737 2.32591 45.2333 2.34695 43.5945 2.32268C43.5653 5.38024 43.5962 8.43941 43.5791 11.497C43.5978 11.6393 43.4498 11.734 43.3214 11.7146C42.7524 11.7146 42.1834 11.7235 41.6143 11.7105C41.4631 11.7121 41.4022 11.5431 41.4217 11.4177C41.4225 7.80363 41.4217 4.18957 41.4225 0.575505Z"
                  fill="white"></path>
                <path
                  d="M53.5743 0.581269C53.5483 0.435671 53.6434 0.269042 53.8076 0.287646C54.3498 0.277939 54.8936 0.283599 55.4367 0.285217C55.6399 0.273084 55.8366 0.367726 55.9561 0.531929C58.6655 3.90495 61.374 7.27878 64.0834 10.6518C64.3167 10.9632 64.5963 11.2431 64.7987 11.5772C64.7792 11.6087 64.7402 11.6718 64.7207 11.7033C64.0639 11.7365 63.4046 11.7033 62.747 11.7179C62.4877 11.7219 62.1739 11.7438 62.0024 11.5076C60.9846 10.2514 59.9766 8.98712 58.9638 7.72689C57.9607 8.96933 56.9624 10.2166 55.9626 11.4615C55.8553 11.5998 55.6984 11.713 55.5163 11.7122C54.9489 11.7203 54.3815 11.7179 53.8149 11.7139C53.6459 11.7373 53.5475 11.5674 53.5743 11.4194C53.5743 7.80697 53.5751 4.19372 53.5743 0.581269ZM55.7374 3.48595C55.735 5.16356 55.735 6.84036 55.7374 8.51798C56.4138 7.67998 57.0868 6.83955 57.7607 5.99994C57.0852 5.16275 56.417 4.31909 55.7374 3.48595Z"
                  fill="white"></path>
                <path
                  d="M63.1275 0.584538C63.1104 0.459162 63.1665 0.29577 63.3153 0.292534C63.8558 0.270695 64.3972 0.2893 64.9378 0.283638C65.1475 0.269887 65.367 0.338639 65.4946 0.513356C67.5797 3.10338 69.6566 5.69988 71.7433 8.28829C71.7433 5.71848 71.7425 3.14868 71.7433 0.578065C71.7084 0.41629 71.8352 0.259368 72.0051 0.285252C72.5773 0.286061 73.1496 0.272312 73.7211 0.292534C73.8674 0.298196 73.9202 0.459971 73.904 0.584538C73.904 4.19537 73.904 7.8062 73.904 11.417C73.921 11.54 73.8666 11.7066 73.7186 11.709C73.1504 11.7252 72.5806 11.7139 72.0124 11.7147C71.8246 11.722 71.6466 11.6322 71.536 11.4842C69.4534 8.89656 67.3781 6.3025 65.2938 3.71651C65.2914 5.23316 65.2979 6.75061 65.2914 8.26726C65.3312 8.40234 65.1378 8.51801 65.0557 8.39506C64.4574 7.67273 63.8794 6.93342 63.2893 6.20462C63.1576 6.06145 63.1153 5.86893 63.1251 5.68047C63.1283 3.98182 63.1242 2.28318 63.1275 0.584538Z"
                  fill="white"></path>
                <path
                  d="M75.3989 0.500438C75.3819 0.353223 75.5396 0.268288 75.6688 0.285274C78.0554 0.28123 80.4421 0.285278 82.8287 0.28366C83.0352 0.270718 83.2514 0.337854 83.3774 0.510954C83.8001 1.03511 84.2269 1.55764 84.6423 2.08827C84.752 2.17724 84.6699 2.35358 84.5317 2.32931C83.2839 2.33902 82.0353 2.32931 80.7867 2.33335C80.7811 5.36179 80.7941 8.39023 80.7933 11.4187C80.8225 11.5635 80.7225 11.7301 80.56 11.7131C79.9901 11.718 79.4195 11.7204 78.8504 11.7123C78.7293 11.7228 78.6237 11.616 78.6358 11.4971C78.6155 8.44281 78.635 5.38767 78.6188 2.33335C77.6344 2.33093 76.6491 2.33659 75.6655 2.33174C75.5347 2.34711 75.3786 2.25732 75.3989 2.1101C75.3908 1.57382 75.39 1.03672 75.3989 0.500438Z"
                  fill="white"></path>
              </svg>

              <div class="text-3xl font-semibold">Illusion Skin Changer</div>
            </div>
            <button class="w-full text-center border-b-1 border-white/20"
            ></button>

            <div class="pt-2 flex justify-between items-center">
              <!--Bottom left -->
              <div class="flex flex-col">
                <div class="flex mb-[1px]">
                  <div>3 month subscription</div>
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 15L7.75699 10.758L9.17199 9.34399L12 12.172L14.828 9.34399L16.243 10.758L12 15Z"
                      fill="white"></path>
                  </svg>
                </div>

                <div class="text-sm opacity-75">
                  Renews automatically on 10/3/25
                </div>
              </div>
              <!--Bottom right -->
              <div class="flex flex-col gap-1">
                <div class="uppercase text-xs font-semibold opacity-75">
                  Today's total
                </div>
                <div class="text-4xl font-semibold tracking-tight">$3.99</div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="text-sm flex justify-between rounded-full border-1 border-white/20 py-3 px-4"
        >
          <div class="opacity-40 text-gradient">Discount Code</div>
          <div>Apply discount</div>
        </div>
      </div>
      <!--Right -->
      <div class="flex flex-col w-1/2 gap-4">
        <div class="text-center">
          <h3 class="text-2xl font-display">Select a payment method</h3>
        </div>
        <button class="w-full text-center border-b-1 border-white/20"></button>
        <div class="flex flex-col py-4">
          <div class="flex flex-col gap-4">
            <!-- Card -->
            <div
              class="card-gradient py-6 px-6 h-[48px] flex items-center justify-between"
            >
              <div class="flex gap-3">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M22.005 10V20C22.005 20.2652 21.8996 20.5196 21.7121 20.7071C21.5246 20.8946 21.2702 21 21.005 21H3.005C2.73979 21 2.48543 20.8946 2.2979 20.7071C2.11036 20.5196 2.005 20.2652 2.005 20V10H22.005ZM22.005 8H2.005V4C2.005 3.73478 2.11036 3.48043 2.2979 3.29289C2.48543 3.10536 2.73979 3 3.005 3H21.005C21.2702 3 21.5246 3.10536 21.7121 3.29289C21.8996 3.48043 22.005 3.73478 22.005 4V8ZM15.005 16V18H19.005V16H15.005Z"
                    fill="url(#paint0_linear_1_333)"></path>
                  <defs>
                    <linearGradient
                      id="paint0_linear_1_333"
                      x1="12.005"
                      y1="3"
                      x2="12.005"
                      y2="21"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white"></stop>
                      <stop offset="1" stop-color="white" stop-opacity="0.75"
                      ></stop>
                    </linearGradient>
                  </defs>
                </svg>
                <div>Card</div>
              </div>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5">
                  <path
                    d="M19.1639 12L12.9569 5.79303L11.5429 7.20703L16.3359 12L11.5429 16.793L12.9569 18.207L19.1639 12ZM13.5139 12L7.30694 5.79303L5.89294 7.20703L10.6859 12L5.89294 16.793L7.30694 18.207L13.5139 12Z"
                    fill="white"></path>
                </g>
              </svg>
            </div>
            <!-- Blockchain -->
            <div
              class="blockchain-gradient py-6 px-6 h-[48px] flex items-center justify-between"
            >
              <div class="flex gap-3">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.005 22.003C6.48201 22.003 2.005 17.526 2.005 12.003C2.005 6.47999 6.48201 2.00299 12.005 2.00299C17.528 2.00299 22.005 6.47999 22.005 12.003C22.005 17.526 17.528 22.003 12.005 22.003ZM12.005 7.75999L7.762 12.003L12.005 16.245L16.247 12.003L12.005 7.75999Z"
                    fill="url(#paint0_linear_1_337)"></path>
                  <defs>
                    <linearGradient
                      id="paint0_linear_1_337"
                      x1="12.005"
                      y1="2.00299"
                      x2="12.005"
                      y2="22.003"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white"></stop>
                      <stop offset="1" stop-color="white" stop-opacity="0.75"
                      ></stop>
                    </linearGradient>
                  </defs>
                </svg>

                <div>Blockchain</div>
              </div>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5">
                  <path
                    d="M19.1639 12L12.9569 5.79303L11.5429 7.20703L16.3359 12L11.5429 16.793L12.9569 18.207L19.1639 12ZM13.5139 12L7.30694 5.79303L5.89294 7.20703L10.6859 12L5.89294 16.793L7.30694 18.207L13.5139 12Z"
                    fill="white"></path>
                </g>
              </svg>
            </div>
          </div>

          <div class="py-8 self-center text-sm opacity-75 text-gradient">
            alternatively, pay via an external provider
          </div>
          <div class="flex flex-col gap-4">
            <div
              class="flex items-center justify-center rounded-lg bg-white text-black w-full h-[50px]"
            >
              <svg
                width="58"
                height="23"
                viewBox="0 0 58 23"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.6363 3.52472C10.0523 4.23224 9.06404 4.76007 8.2779 4.76007C8.18806 4.76007 8.09822 4.74884 8.04206 4.73761C8.03083 4.69269 8.00837 4.55792 8.00837 4.42316C8.00837 3.52472 8.46882 2.62628 8.96296 2.06476C9.59187 1.32355 10.6475 0.773254 11.5235 0.739563C11.546 0.840637 11.5572 0.964172 11.5572 1.08771C11.5572 1.98615 11.1754 2.87335 10.6363 3.52472ZM11.254 4.95099C11.7481 4.95099 13.5338 4.99591 14.7017 6.68048C14.6007 6.75909 12.8262 7.75861 12.8262 9.99347C12.8262 12.5765 15.0836 13.4974 15.151 13.5198C15.1397 13.576 14.7916 14.7664 13.9605 15.9905C13.2193 17.0574 12.4332 18.1356 11.254 18.1356C10.0635 18.1356 9.76033 17.4393 8.40144 17.4393C7.06501 17.4393 6.59333 18.158 5.51521 18.158C4.42585 18.158 3.67341 17.1585 2.80867 15.9456C1.79792 14.5081 0.98933 12.2845 0.98933 10.1732C0.98933 6.79279 3.1905 4.99591 5.35798 4.99591C6.50349 4.99591 7.45808 5.74835 8.18806 5.74835C8.87312 5.74835 9.94001 4.95099 11.254 4.95099ZM21.6216 18.0345V1.82892H28.0903C31.3809 1.82892 33.6045 3.9964 33.6045 7.242V7.26447C33.6045 10.4988 31.3809 12.6776 28.0903 12.6776H24.519V18.0345H21.6216ZM27.3828 4.19855H24.519V10.3416H27.3828C29.4604 10.3416 30.6733 9.21857 30.6733 7.2757V7.25323C30.6733 5.31036 29.4604 4.19855 27.3828 4.19855ZM38.1875 18.2366C35.8515 18.2366 34.1557 16.7991 34.1557 14.5643V14.5418C34.1557 12.3519 35.8291 11.0716 38.8164 10.8919L41.9721 10.701V9.64532C41.9721 8.4212 41.1748 7.74738 39.6699 7.74738C38.3896 7.74738 37.5586 8.20782 37.2778 9.01642L37.2666 9.06134H34.6274L34.6386 8.96027C34.9082 6.89386 36.8847 5.52374 39.8046 5.52374C42.9604 5.52374 44.7348 7.05109 44.7348 9.64532V18.0345H41.9721V16.3499H41.7812C41.1074 17.5403 39.8046 18.2366 38.1875 18.2366ZM36.9184 14.4295C36.9184 15.4739 37.8056 16.0916 39.041 16.0916C40.7255 16.0916 41.9721 14.991 41.9721 13.5311V12.5428L39.2094 12.7225C37.6484 12.8235 36.9184 13.3963 36.9184 14.407V14.4295ZM47.8017 22.347C47.4648 22.347 47.0717 22.3358 46.7348 22.3021V20.157C46.9594 20.1795 47.2738 20.1907 47.5658 20.1907C48.7113 20.1907 49.3964 19.7191 49.6996 18.6072L49.8456 18.0457L45.4545 5.75958H48.5092L51.373 15.3504H51.5863L54.4389 5.75958H57.3813L52.9789 18.2928C51.9233 21.3699 50.5195 22.347 47.8017 22.347Z"
                  fill="black"></path>
              </svg>
            </div>
            <div
              class="flex items-center justify-center rounded-lg bg-[#FFC43A] w-full h-[50px]"
            >
              <svg
                width="92"
                height="22"
                viewBox="0 0 92 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M34.6412 4.92041H29.6556C29.3144 4.92041 29.0242 5.16827 28.971 5.50507L26.9546 18.2897C26.9145 18.5419 27.1099 18.7694 27.3657 18.7694H29.7459C30.0871 18.7694 30.3773 18.5215 30.4305 18.184L30.9743 14.7358C31.0268 14.3982 31.3177 14.1504 31.6581 14.1504H33.2364C36.5206 14.1504 38.416 12.5611 38.911 9.41183C39.1341 8.034 38.9205 6.95143 38.2753 6.19326C37.5667 5.36073 36.3099 4.92041 34.6412 4.92041ZM35.2164 9.5897C34.9438 11.3787 33.5769 11.3787 32.2552 11.3787H31.5029L32.0307 8.03765C32.062 7.83571 32.237 7.68699 32.4411 7.68699H32.7859C33.6862 7.68699 34.5355 7.68699 34.9744 8.20022C35.2361 8.5064 35.3163 8.9613 35.2164 9.5897Z"
                  fill="#253B80"></path>
                <path
                  d="M49.5434 9.5316H47.1559C46.9525 9.5316 46.7768 9.68032 46.7455 9.88225L46.6398 10.55L46.4728 10.308C45.956 9.55785 44.8034 9.30707 43.653 9.30707C41.0147 9.30707 38.7614 11.3053 38.3225 14.1083C38.0943 15.5066 38.4187 16.8436 39.2119 17.776C39.9395 18.6333 40.9805 18.9905 42.2191 18.9905C44.3449 18.9905 45.5237 17.6236 45.5237 17.6236L45.4172 18.287C45.3771 18.5407 45.5725 18.7681 45.8269 18.7681H47.9775C48.3194 18.7681 48.6081 18.5203 48.662 18.1827L49.9524 10.0113C49.9932 9.75978 49.7986 9.5316 49.5434 9.5316ZM46.2155 14.1783C45.9851 15.5423 44.9025 16.4579 43.5218 16.4579C42.8285 16.4579 42.2745 16.2356 41.9187 15.8142C41.5659 15.3957 41.4317 14.8001 41.544 14.1367C41.7591 12.7844 42.8599 11.8389 44.2195 11.8389C44.8974 11.8389 45.4486 12.0642 45.8116 12.4892C46.1754 12.9186 46.3197 13.5178 46.2155 14.1783Z"
                  fill="#253B80"></path>
                <path
                  d="M62.2595 9.53174H59.8603C59.6314 9.53174 59.4163 9.64546 59.2866 9.83573L55.9776 14.7099L54.575 10.026C54.4868 9.73294 54.2163 9.53174 53.9101 9.53174H51.5525C51.266 9.53174 51.067 9.81168 51.1581 10.0814L53.8008 17.8366L51.3163 21.3439C51.1209 21.6201 51.3178 22 51.6553 22H54.0516C54.279 22 54.4919 21.8892 54.6209 21.7025L62.6006 10.1842C62.7916 9.90864 62.5955 9.53174 62.2595 9.53174Z"
                  fill="#253B80"></path>
                <path
                  d="M70.2029 4.92041H65.2165C64.8761 4.92041 64.5859 5.16827 64.5327 5.50507L62.5163 18.2897C62.4762 18.5419 62.6716 18.7694 62.926 18.7694H65.4848C65.7225 18.7694 65.9259 18.5959 65.963 18.3597L66.5353 14.7358C66.5878 14.3982 66.8787 14.1504 67.2191 14.1504H68.7967C72.0816 14.1504 73.9763 12.5611 74.472 9.41183C74.6958 8.034 74.4808 6.95143 73.8356 6.19326C73.1277 5.36073 71.8716 4.92041 70.2029 4.92041ZM70.7781 9.5897C70.5062 11.3787 69.1393 11.3787 67.8169 11.3787H67.0653L67.5938 8.03765C67.6252 7.83571 67.7987 7.68699 68.0035 7.68699H68.3483C69.2479 7.68699 70.098 7.68699 70.5368 8.20022C70.7985 8.5064 70.878 8.9613 70.7781 9.5897Z"
                  fill="#179BD7"></path>
                <path
                  d="M85.1049 9.5316H82.7189C82.514 9.5316 82.3398 9.68032 82.3092 9.88225L82.2035 10.55L82.0358 10.308C81.5189 9.55785 80.3671 9.30707 79.2167 9.30707C76.5785 9.30707 74.3258 11.3053 73.887 14.1083C73.6595 15.5066 73.9825 16.8436 74.7756 17.776C75.5046 18.6333 76.5442 18.9905 77.7828 18.9905C79.9086 18.9905 81.0874 17.6236 81.0874 17.6236L80.9809 18.287C80.9408 18.5407 81.1362 18.7681 81.3921 18.7681H83.5419C83.8824 18.7681 84.1725 18.5203 84.2257 18.1827L85.5168 10.0113C85.5562 9.75978 85.3608 9.5316 85.1049 9.5316ZM81.777 14.1783C81.5481 15.5423 80.4641 16.4579 79.0833 16.4579C78.3915 16.4579 77.836 16.2356 77.4802 15.8142C77.1274 15.3957 76.9947 14.8001 77.1055 14.1367C77.322 12.7844 78.4214 11.8389 79.781 11.8389C80.459 11.8389 81.0101 12.0642 81.3731 12.4892C81.7384 12.9186 81.8827 13.5178 81.777 14.1783Z"
                  fill="#179BD7"></path>
                <path
                  d="M87.9194 5.27106L85.8731 18.2897C85.833 18.5419 86.0284 18.7694 86.2828 18.7694H88.3401C88.682 18.7694 88.9721 18.5215 89.0246 18.184L91.0425 5.40009C91.0826 5.14786 90.8872 4.91968 90.6328 4.91968H88.3291C88.1257 4.92041 87.9508 5.06912 87.9194 5.27106Z"
                  fill="#179BD7"></path>
                <path
                  d="M6.24969 21.2536L6.63096 18.8319L5.78167 18.8122H1.7262L4.54454 0.942017C4.55329 0.888071 4.58172 0.837769 4.62327 0.802048C4.66483 0.766326 4.71804 0.746643 4.77345 0.746643H11.6115C13.8817 0.746643 15.4483 1.21904 16.2663 2.15144C16.6497 2.58885 16.8939 3.04593 17.012 3.54895C17.136 4.07675 17.1382 4.70734 17.0171 5.47645L17.0084 5.53258V6.02539L17.3918 6.24263C17.7148 6.41395 17.9714 6.61005 18.1682 6.83459C18.4963 7.20857 18.7084 7.68388 18.7981 8.2474C18.8907 8.82697 18.8601 9.51661 18.7084 10.2974C18.5335 11.1955 18.2506 11.9777 17.8686 12.6178C17.5172 13.2076 17.0696 13.6967 16.5382 14.0758C16.0308 14.436 15.4279 14.7093 14.7463 14.8843C14.0858 15.0563 13.3327 15.1431 12.5068 15.1431H11.9746C11.594 15.1431 11.2244 15.2801 10.9343 15.5258C10.6434 15.7766 10.451 16.1192 10.3919 16.4939L10.3518 16.7119L9.67821 20.9803L9.6476 21.137C9.63958 21.1866 9.62573 21.2114 9.60531 21.2281C9.58709 21.2434 9.56084 21.2536 9.53533 21.2536H6.24969Z"
                  fill="#253B80"></path>
                <path
                  d="M17.754 5.58923C17.7336 5.71973 17.7102 5.85313 17.684 5.99019C16.7822 10.6201 13.697 12.2196 9.75675 12.2196H7.75052C7.26864 12.2196 6.86259 12.5695 6.7875 13.0448L5.76033 19.5592L5.46945 21.4058C5.42061 21.7178 5.66118 21.9992 5.97611 21.9992H9.5344C9.95577 21.9992 10.3137 21.693 10.3801 21.2775L10.415 21.0967L11.085 16.8451L11.128 16.6118C11.1936 16.1948 11.5523 15.8887 11.9737 15.8887H12.5058C15.9533 15.8887 18.6521 14.489 19.4409 10.4386C19.7704 8.74657 19.5998 7.33375 18.7279 6.34011C18.464 6.04049 18.1367 5.7919 17.754 5.58923Z"
                  fill="#179BD7"></path>
                <path
                  d="M16.8107 5.21327C16.6729 5.17317 16.5308 5.13672 16.385 5.10392C16.2385 5.07184 16.0883 5.04341 15.9337 5.01862C15.3928 4.93114 14.8001 4.88959 14.1652 4.88959H8.80549C8.67354 4.88959 8.54815 4.91948 8.43588 4.97342C8.18875 5.09225 8.00504 5.32626 7.96057 5.61276L6.8204 12.8343L6.7876 13.045C6.86269 12.5697 7.26874 12.2198 7.75062 12.2198H9.75685C13.6971 12.2198 16.7823 10.6196 17.6841 5.99039C17.7111 5.85334 17.7337 5.71993 17.7541 5.58943C17.5259 5.46842 17.2788 5.3649 17.0127 5.27669C16.9471 5.25482 16.8793 5.23368 16.8107 5.21327Z"
                  fill="#222D65"></path>
                <path
                  d="M7.96107 5.61263C8.00554 5.32613 8.18924 5.09212 8.43638 4.97402C8.54937 4.92007 8.67404 4.89019 8.80599 4.89019H14.1657C14.8006 4.89019 15.3933 4.93174 15.9342 5.01922C16.0888 5.04401 16.2389 5.07244 16.3855 5.10451C16.5313 5.13732 16.6734 5.17377 16.8112 5.21386C16.8797 5.23428 16.9475 5.25542 17.0139 5.27656C17.28 5.36477 17.5271 5.46902 17.7553 5.5893C18.0236 3.87832 17.7531 2.71337 16.828 1.65849C15.8081 0.497183 13.9674 0 11.6119 0H4.77384C4.2927 0 3.88227 0.349924 3.80791 0.825966L0.959675 18.8798C0.903541 19.2371 1.17911 19.5593 1.53924 19.5593H5.76092L6.8209 12.8342L7.96107 5.61263Z"
                  fill="#253B80"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
